 <div class='mini-invitation-card' >


        <div class='picture' > 
        <img src="<%= inv.images %>" />
         </div>
        <div class="mini-invitation-card-infos">
            <div class="header">
              <div class='title' >
                <span><%= inv.product %></span>
                
                </div>
              <div class='price' > <%= number_to_currency(inv.price, unit: '', precision: 2 , position: :after)  %>  DA</div>
              </div>
            <div class="descr descr-md"><%= inv.description %> </div>
            <div class="descr descr-sm"><%= inv.description %> </div>
           
        <div class='info' >
         <div  > <%= inv.store_wilaya %> , <%= inv.store_location %></div>
         <div ><%= I18n.l(inv.date, format: "%d, %b %Y")%></div>
        </div>
        <div class="transactions-info" >
          <div class="transaction-info" >
               
               <div class="label" ><i class="fa-solid fa-circle-pause"></i></div>
               <div class="number" >0</div>
           </div>
            <div class="transaction-info" >
               
                <div class="label" ><i class="fa-solid fa-comments-dollar"></i></div>
                <div class="number" >0</div>
            </div>
            <div class="transaction-info" >              
                <div class="label" ><i class="fa-solid fa-square-check"></i></div>
                <div class="number" >0</div>
            </div>
            <div class="transaction-info" >
               
               <div class="label" ><i class="fa-solid fa-rectangle-xmark"></i></div>
               <div class="number" >0</div>
           </div>
          </div>
        </div>
    </div>