
<!DOCTYPE html>
<html>
<head>
  <title>Your Page Title</title>
  <%= stylesheet_link_tag 'invitations', media: 'all' %>
  <!-- Other meta tags, stylesheets, or scripts specific to this view -->
</head>
<body>
<%= render "partials/navbar" %>
  <div class='invitations-page'>
      <div class='invitation-page-header'>
          <div class="header-page">
      <div class="header-left">
        <div class="title">Announces</div>
        <div class="descr">List de tous les anounces</div>
      </div>
        <div class="header-right">
          
        </div>
    </div>
      </div>
      <div>
      <a href="<%= new_path %>" class='new-invitation' >
        <div class='icon-container'>
          +
        </div>
        <div onClick={navigateToNewInvitation} class='title' >Ajouter une nouvelle Invitation !</div>
      </a>
      </div>
      <div class='invitations-list'>
                  <% @invitations.each do |it| %>
                  <a href="/invitations/<%= it.id %> ">
                <%= render "partials/invitationCard", inv: it %>
                 </a>
                 <% end %>
                 <% if @invitations.length == 0 %>
                     <div>No invitations found</div>
                  <% end %>

                
      </div>  
    </div>
</body>
<script>
  
</script>
</html>
