
<!DOCTYPE html>
<html>
<head>
  <title>Your Page Title</title>
  <%= stylesheet_link_tag 'invitation_detail', media: 'all' %>
  <!-- Other meta tags, stylesheets, or scripts specific to this view -->
</head>
<body>
<%= render "partials/navbar" %>
  <div class="invitation-page">
              <div class='invitation-page-header'>
          <div class="header-page">
      <div class="header-left">
        <div class="title">Annonce <%= @invitation.uuid %> </div>
        <div class="descr">Tous les information et les transactio de cette announce</div>
      </div>


        <div class="header-right">
          <div id="search-icon-container" class="search-icon-container">
            +
          </div>
          <div class="search-bar-container">
            <input
              name="search"
              placeholder="Search by name"
              id="searchInput"
            />
          </div>
        </div>
    </div>
      </div>
        <div class="invitation-page-content">
          <%= render "partials/invitationCard", inv: @invitation %>
          <br />
          <div class="transaction-list">
            <div class="header" >
              <span>code transaction</span>
              <span>date de création</span>
              <span>État</span>
              <span>Prix de laivraison</span>
              <span>date de payment</span>
              <span>livraison</span>
            </div>
         <% @transactions.each do |tr| %>              
              <div class="transaction-item">
              <span><%= tr.id %></span>
              <span><%= tr.created_at%></span>
              <span ><%= tr.state %></span>
              <span><%= tr.delivery_price%></span>
              <span><%= tr.payment_date %></span>
              <span><%= tr.delivery_place%></span>
              </div>
            <% end %>
        </div>
      </div>
</body>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    console.log("sksndlcksn")
    const searchInput = document.getElementById("searchInput");
    const searchDiv = document.getElementById("search-icon-container");

    // Add an event listener to the div
    searchDiv.addEventListener("click", function () {
      const inputValue = searchInput.value;
    console.log("mfl;")
      // Update the window location based on the input value
      window.location.href = "/invitations/search/" + inputValue;
    });
  });
</script>
</html>
